@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* GENERAL */

:root {
    --primary-color: #5182bd;
    --secondary-color: #8cabd3;
    --tertiary-color: #1c9a39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.hamburger {
    display: none; /* Hide by default */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    flex-direction: row; /* Ensure links are inline */
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--secondary-color);
}

.logo {
    width: 7%;
}

/* SEARCHBAR */

.searchbar {
    display: flex;
    align-items: center;
    margin-left: 7rem;
}

.searchbar-input {
    font-size: 1.6rem;
    padding: 0.5rem 13rem;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    outline: none;
    text-align: left;
}

.searchbar-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 0px;
    background-color: white;
}

.searchbar-button img {
    width: 21px;
    height: 21px;
}

/* RESPONSIVE MOBILE */

@media only screen and (max-width: 768px) {
    .navbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: block; /* Show on mobile */
        position: absolute;
        top: 1.5rem;
        right: 1rem; /* Adjusted to ensure it is within the viewport */
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .searchbar {
        display: none;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        width: 15%;
    }
}