@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* GENERAL */

:root {
    --primary-color: #5182bd;
    --secondary-color: #8cabd3;
    --tertiary-color: #1c9a39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.hamburger {
    display: block; /* Show on mobile */
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--secondary-color);
}

.logo {
    width: 15%;
}

.logo:hover {
    cursor: pointer;
}

/* SEARCHBAR */

.searchbar {
    display: none;
}

.searchbar-input {
    width: 40rem;
    height: 3rem;
    outline: none;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

.searchbar-input:focus {
    border-color: var(--primary-color);
    transition: 0.5s;
}

.searchbar-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-button img {
    width: 21px;
    height: 21px;
}

/* RESPONSIVE DESKTOP */

@media only screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
    }

    .hamburger {
        display: none; /* Hide on desktop */
    }

    .nav-menu {
        display: flex;
        flex-direction: row; /* Ensure links are inline */
        position: static;
        width: auto;
        box-shadow: none;
    }

    .nav-item {
        margin: 0 1.5rem; /* Add spacing between links */
    }

    .searchbar {
        display: flex;
        align-items: center;
        margin-left: 6rem;
    }

    .logo {
        width: 7%;
    }
}