@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* GENERAL */

:root {
    --primary-color: #5182bd;
    --secondary-color: #8cabd3;
    --tertiary-color: #1c9a39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title {
    text-align: center;
    margin: 2rem 0;
}

/* HEADER */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 3;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--secondary-color);
}

a .logo {
    width: 25%;
}

.logo:hover {
    cursor: pointer;
}

/* SEARCHBAR */

.searchbar {
    display: none;
}

.searchbar-input {
    width: 40rem;
    height: 3rem;
    outline: none;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

.searchbar-input:focus {
    border-color: var(--primary-color);
    transition: 0.5s;
}

.searchbar-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 2rem;
}

i:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

/* FOOTER */

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* SLIDER */
#previous,
#next {
    font-size: 30px;
}

img {
    width: 100%;
    background-position-x: -1;
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.title-gsb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
}

#slider img {
    width: 100%;
    height: auto;
    filter: blur(5px);
}

/* SLIDER BUTTONS */
#previous,
#next {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 50px;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5%;
    opacity: 50%;  
}

#previous {
    left: 10px;
}

#next {
    right: 10px;
}

#slider:hover #previous,
#slider:hover #next {
    opacity: 1;
}

/* CARD STYLES */

.title-products {
    text-align: center;
    margin: 4rem 0;
    color: var(--primary-color);
    font-size: 3.5rem;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    max-width: 270px;
    max-height: 420px;
    text-align: center;
    flex: 1 1 calc(25% - 2rem); /* 4 cards per row on desktop */
}

.card:hover {
    border-color: var(--secondary-color);
    transition: 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}

.card-content {
    padding: 1rem;
}

.card-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.card-description {
    font-size: 1rem;
    color: #555;
}

.card-price {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: bold;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* RESPONSIVE DESKTOP */

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 2rem 3rem;
    }

    .hamburger {
        display: none;
        /* Hide on desktop */
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        /* Ensure links are inline */
        position: static;
        width: auto;
        box-shadow: none;
    }

    .nav-item {
        margin: 0 1.5rem;
        /* Add spacing between links */
    }

    .searchbar {
        display: flex;
        align-items: center;
        margin-left: 6rem;
    }

    .logo {
        width: 7%;
    }
}



@media only screen and (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* 1 card per row on mobile */
    }
}


/*login*/

form {
   align-items: center;
    padding: 20px;
    max-width: 40%;
    box-sizing: border-box;
}

label {
    
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
}

a[type="register"] {
    color: #007BFF;
    text-decoration: none;
}

a[type="register"]:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}